body {  width: 80%;  
    height: 80%;
    display: flex; 
    align-items: center; 
        background-color: burlywood;
}
#pic {
display: block;
    width: 800x; 
    height: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -400px;
}




        
    
   
    
    






    




